@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');



* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
}


.btn {
    display: block;
    margin: 30px auto;
    width: fit-content;
    color: #fff;
    border: 1px solid #ff004f;
    background-color: transparent;
    padding: 14px 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
}
    .btn:hover {
        background-color: #ff004f;
    }

.btn2 {
    background-color: #ff004f;
}
.btn2:hover {
    transform: scale(1.1);
}
.btn3 {
    color: #ff004f;
    background-color: #fff;
}
.btn3:hover {
    background-color: #fff;
    border: 0;
    transform: scale(1.1);
}

.sub-title {
    font-size: 36px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}



header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: .6s;
}

header.sticky {
    background-color: #424242;
    border-bottom: #f0f 2px solid;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

header nav ul > li {
    padding: 0 10px;
    position: relative;
}
header nav ul > li:nth-child(2) a {
    border-radius: 20px 20px 3px 20px;
}
header nav ul > li a {
    text-transform: uppercase;
    transition: border 0.5s;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 0.3s;
}
header nav ul > li > a:hover {
    background-color: #fff;
    color: #000;
    transform: translateY(-5px);
    transition: all 0.5s;
}

ul > li ul {
    list-style: none;
    color: #000;
    padding: 10px;
    position: absolute; 
    display: none;
    left: 25px; 
    top: 30px; 
    width: 200px; 
    text-align: left;
    background-color: #fcfcfc;
    border-radius: 0 20px 20px 20px;
}
ul li:hover > ul {
    display: block;
}
ul > li > ul li a {
    color: #000;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all 0.3s;
}
ul > li > ul li a:hover {
    transform: translateX(5px);
    transition: all 0.5s;
}




.notifications {
    position: fixed;
    bottom: 50px;
    right: 15px;
    z-index: 900;
}
.toast.success {
    --color: #0abf30;
    background: linear-gradient(to right, #06741e, #22242f 40%);
}
.toast.fail {
    --color: #f24d4c;
    background: linear-gradient(to right, #802727, #22242F 40%);
}

.toast {
    position: relative;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 10px;
    animation: show 0.3s ease forwards;
}
.toast i {
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.toast .title {
    font-size: x-large;
    font-weight: bold;
}
.toast span, .toast i:nth-child(3) {
    color: #fff;
    opacity: 0.7;
}
.toast::before {
    position: absolute;
    bottom: 0;
    left: 5px;
    background-color: var(--color);
    border-radius: 10px;
    width: 95%;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeOut 5s linear 1 forwards;
}
@keyframes timeOut {
    to {
        width: 0;
    }
}
@keyframes showNotification {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-10%);
    }
}

.toast i:nth-child(3):hover {
    cursor: pointer;
}




main {
    z-index: -1;
}


#head {
    position: relative;
    top: 0;
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    z-index: -5;
}




:root {
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
  }

@keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  
  
  .gradient-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -50;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
  }
  
    svg {
      display: none;
    }
  
  
    .gradients-container {
      filter: url(#goo) blur(40px) ;
      width: 100%;
      height: 100%;
    }
  
    .g1 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: center center;
      animation: moveVertical 30s ease infinite;
  
      opacity: 1;
    }
  
    .g2 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: calc(50% - 400px);
      animation: moveInCircle 20s reverse infinite;
  
      opacity: 1;
    }
  
    .g3 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2 + 200px);
      left: calc(50% - var(--circle-size) / 2 - 500px);
  
      transform-origin: calc(50% + 400px);
      animation: moveInCircle 40s linear infinite;
  
      opacity: 1;
    }
  
    .g4 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: calc(50% - 200px);
      animation: moveHorizontal 40s ease infinite;
  
      opacity: 0.7;
    }
  
    .g5 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: calc(var(--circle-size) * 2);
      height: calc(var(--circle-size) * 2);
      top: calc(50% - var(--circle-size));
      left: calc(50% - var(--circle-size));
  
      transform-origin: calc(50% - 800px) calc(50% + 200px);
      animation: moveInCircle 20s ease infinite;
  
      opacity: 1;
    }
  
    .interactive {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: 100%;
      height: 100%;
      top: -50%;
      left: -50%;

  
      opacity: 0.7;
    }





.wrapper {
    box-sizing: content-box;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
}

.words {
    height: 50px;
    overflow: hidden;
}

.wrapper span {
    display: block;
    height: 100%;
    font-size: 32px;
    color: #fff;
    animation: spin_words 6s infinite;
}

    @keyframes spin_words {
        10% {
            transform: translateY(-112%);
        }
        25% {
            transform: translateY(-100%);
        }
        35% {
            transform: translateY(-212%);
        }
        50% {
            transform: translateY(-200%);
        }
        60% {
            transform: translateY(-312%);
        }
        75% {
            transform: translateY(-300%);
        }
        85% {
            transform: translateY(-412%);
        }
        100% {
            transform: translateY(-400%);
        }
    }

.wrapper h1 {
    margin: -10px 0;
    font-size: 45px;
}

#down-arrow {
    position: absolute;
    bottom: 250px;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}






#know-me {
    padding: 0 80px;
    width: 100%;
    box-shadow: 0px -35px 62px 41px rgba(46, 46, 46, 1);
}

#know-me .tab-titles {
    display: flex;
    justify-content: center;
    margin: 20px auto 40px auto;
    position: relative;
    width: 38%;
}
#know-me .tab-titles .tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}
#know-me .tab-titles .tab-links:hover {
    transform: scale(1.1);
}
#know-me .tab-titles .tab-links.active {
    color: #f0f;
}
#know-me .line {
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 90px;
    height: 5px;
    background-color: #f0f;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
#know-me .content {
    display: none;
    animation: moving .5s ease;
}
#know-me .content.active {
    display: block;
}
@keyframes moving {
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}






.web-example {
    text-align: center;
    margin: auto;
    padding: 20px 0;
}
.web-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}
.web-tile:nth-child(1) {
    border-left: 0;
}
.web-tile {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 33.3%;
    background-color: #5f5f5f;
    border-left: 5px solid #000;
}
.web-tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.3), #ff004f);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}
.layer h3 {
    font-weight: 500px;
    margin-top: 220px;
    margin-bottom: 20px;
}
.web-tile:hover img {
    transform: scale(1.1);
}
.web-tile:hover .layer {
    height: 100%;
}




footer {
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #292929;
    padding-top: 60px;
}

#contact {
    width: 90%;
    margin: auto;
}

#leftpanel {
    width: 40%;
    padding: 0 100px;
    float: left;
    text-align: center;
}

#leftpanel a {

}

#leftpanel a i {
    color: #ff004f;
    margin-right: 5px;
    font-size: 24px;
}

#social-icons {
    width: 30%;
    display: flex;
    margin: 30px;
}

#social-icons a {
    display: inline-block;
    margin-right: 15px;
}

#social-icons a i {
    color: #ababab;
    font-size: 30px;
    transition: all 0.3s;
}
    #social-icons a:hover i {
        color: #fff;
        transform: translateY(-5px);
    } 

#rightpanel {
    width: 60%;
    margin: 10px auto;
    float: left;
    text-align: center;
}

    #contact form {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    #contact form input, #contact form textarea {
        width: 100%;
        outline: none;
        background-color: #262626;
        padding: 15px;
        border-radius: 6px;
        border: none;
        color: #fff;
        font-size: 18px; 
        resize: none;
    }

    #contact form .btn2 {
        padding: 14px 90px;
        font-size: 16px;
        margin-top: 20px;
    }
    #contact form p a {
        margin-top: -200px;
        display: inline-block;
        color: #337ab7;
    }
    #contact form .formLabel {
        font-size: 14px;
        margin-bottom: 10px;
        padding: 5px 10px;

        color: #888;
        text-align: left;
    }

#copy {
    clear: both;
    background-color: #000;
    padding: 5px 0;
    text-align: center;
}